[Unit]
Before=systemd-user-sessions.service
Wants=network-online.target
After=network-online.target
ConditionPathExists=!/var/lib/ixgbe-reset

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ixgbe-reset.sh
ExecStartPost=/usr/bin/touch /var/lib/ixgbe-reset
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target